$Check-colour: white;

.activityCard {
  color: white;
  background: linear-gradient(
    179.58deg,
    rgba(255, 64, 22, 0.5) 12.86%,
    rgba(255, 230, 9, 0.4) 96.53%
  );
  position: relative;
  padding: 16px;
  margin: 0 0 8px 0;
  &.remove {
    background-color: rebeccapurple;
  }
  &.dragging {
    background-color: lightgreen;
  }
}

.checkMark {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    top: 15%;
    left: 68%;
    transform: rotateZ(45deg);
    width: 10px;
    height: 30px;
    background-color: $Check-colour;
  }
  &::before {
    content: "";
    position: absolute;

    top: 34%;
    left: 24%;
    transform: rotateZ(-45deg);

    width: 10px;
    height: 20px;
    background-color: $Check-colour;
  }
}
