$Check-colour: white;

.activityCard {
  color: white;
  background: linear-gradient(
    179.58deg,
    rgb(255, 150, 127) 12.86%,
    rgb(255, 239, 92) 96.53%
  );
  border-radius: 10px;
  position: relative;
  padding: 16px;
  margin: 0 0 8px 0;

  &.remove {
    background-color: rebeccapurple;
  }
  &.dragging {
    background-color: lightgreen;
  }
}

.text {
  font-weight: 700;
  font-size: 1.25rem;
}

.checkMark {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    top: 15%;
    left: 68%;
    transform: rotateZ(45deg);
    width: 10px;
    height: 30px;
    background-color: $Check-colour;
  }
  &::before {
    content: "";
    position: absolute;

    top: 34%;
    left: 24%;
    transform: rotateZ(-45deg);

    width: 10px;
    height: 20px;
    background-color: $Check-colour;
  }
}
